@model QueryVM

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .progress-label {
        position: absolute;
        left: 40vw;
        top: 40vh;
        font-weight: bold;
        text-shadow: 1px 1px 0 #fff;
        background-color: white;
        width: 20vw;
        text-align: center;
    }
</style>

@using (Html.BeginForm("Query", "Query", FormMethod.Post, new { Id = "IndexForm" }))
{
    @*@Html.AntiForgeryToken()*@
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBox("vm.CustomerName", @Model.CustomerName, new { htmlAttributes = new { @class = "form-control", @onchange = "loadFormat();" } })
                @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Format, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("vm.Format", DropDownListMenu.FormatOption(Model.Format), new { @class = "form-control", @style = "font-weight:normal;", @onchange = "loadFormat();" })
                @Html.ValidationMessageFor(model => model.Format, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.SettingName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("vm.SettingName", DropDownListMenu.SettingOption(Model.UserID, Model.CustomerName, Model.Format, Model.SettingName), new { @class = "form-control", @style = "font-weight:normal;", @onchange = "loadColumns();" })
                @Html.ValidationMessageFor(model => model.SettingName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-8">
                <div id="ColumnSetDiv" class="row">
                    @{
                        Html.RenderPartial("_ColumnSet", Model);
                    }
                </div>
            </div>
            <div class="col-md-4">
                <input type="button" value="Save" class="btn btn-primary btn-block" />
                <br />
                <input type="button" value="Query" class="btn btn-primary btn-block" onclick="query();" />
                @*<input type="button" value="Query" onclick="preview();" class="btn btn-primary btn-block" />*@
                <br />
                <font color="red">
                    @ViewBag.QueryMsg
                </font>
                <br />
                @Html.LabelFor(model => model.DataRow, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-4">
                    @Html.TextBox("vm.DataRow", @Model.DataRow, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                    @Html.ValidationMessageFor(model => model.DataRow, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div id="PreviewDiv" class="col-md-12">
                @{
                    Html.RenderPartial("_DataRow", Model);
                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataDestination, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.DropDownList("vm.DataDestination", DropDownListMenu.DestinationOption(Model.DataDestination), new { @class = "form-control", @style = "font-weight:normal;", @onchange = "showDiv();" })
                @Html.ValidationMessageFor(model => model.DataDestination, "", new { @class = "text-danger" })
            </div>
        </div>

        <div id="MailDiv" class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-4">
                @*<input type="text" id="vm_Email" name="vm.Email" value="@Model.Email" class="form-control" />*@
                @Html.TextBox("vm.Email", @Model.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div id="FTPDiv" class="form-group">
            @Html.LabelFor(model => model.FTPServerIP, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBox("vm.FTPServerIP", @Model.FTPServerIP, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FTPServerIP, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.FTPPort, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-1">
                @Html.TextBox("vm.FTPPort", @Model.FTPPort, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FTPPort, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.FTPUserName, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                @Html.TextBox("vm.FTPUserName", @Model.FTPUserName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FTPUserName, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.FTPPassword, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                @Html.Password("vm.FTPPassword", @Model.FTPPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FTPPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FileName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                <input type="text" id="vm_FileName" name="vm.FileName" value="@Model.FileName" class="form-control" />
                @*@Html.TextBoxFor(model => model.FileName, new { @id = "vm_FileName", @name = "vm.FileName", @class = "form -control" })*@
                @Html.ValidationMessageFor(model => model.FileName, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                <input type="button" value="btnGenerate" onclick="generate();" class="btn btn-primary btn-block" />
            </div>
            <div class="col-md-4">
                <font color="red">
                    @ViewBag.ExeResult
                </font>
            </div>
        </div>
    </div>
}

<!-- 模态框（Modal） -->
<div class="modal fade fa-upload" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="background-color:hsla(240, 0%, 50%, 0.6);">
    <div class="progress-label">processing...</div>
</div>

<script>
    $(function () {
        showDiv();
    });

    function showDiv() {
        var destination = $("#vm_DataDestination").val();
        if (destination == "Download") {
            $("#MailDiv").hide();
            $("#FTPDiv").hide();
        } else if (destination == "FTP") {
            $("#MailDiv").hide();
            $("#FTPDiv").show();
        } else if (destination == "EMail") {
            $("#MailDiv").show();
            $("#FTPDiv").hide();
        }
    }

    function loadFormat() {
        var CustomerName = $("#vm_CustomerName").val();
        var Format = $("#vm_Format").val();
        var msg = '';
        if (CustomerName.trim() == '') msg += '請輸入 Customer Name\r\n';
        if (Format.trim() == '') msg += '請選擇 Format\r\n';

        if (msg == '') {
            var param = new Object({
                CustomerName: CustomerName,
                Format: Format
            });

            $.ajax({
                url: '@Url.Action("AjaxLoadFormat")',
                type: "POST",
                data: param,
                success: function (result) {
                    if (result.status == 'ok') {
                        setOptionList(result);
                    }
                    else {
                        alert(result.status);
                    }
                }
            });
        }
    }

    function setOptionList(result) {
        $("#vm_SettingName").attr("disabled", false);
        $("#vm_SettingName").html('');
        $("#vm_SettingName").html(result.Options);
    }

    function loadColumns() {
        var Format = $("#vm_Format").val();
        var SettingName = $("#vm_SettingName").val();
        var msg = '';

        if (msg == '') {
            var param = new Object({
                Format: Format,
                SettingName: SettingName,
            });

            $.ajax({
                url: '@Url.Action("AjaxLoadColumns")',
                type: "POST",
                data: param,
                success: function (result) {
                    $("#ColumnSetDiv").html(result);
                }
            });
        }
    }

    function query() {
        var CustomerName = $("#vm_CustomerName").val();
        var Format = $("#vm_Format").val();
        var Setting = $("#vm_SettingName").val();
        var msg = '';
        if (CustomerName.trim() == '') msg += '請輸入 Customer Name\r\n';
        if (Format.trim() == '') msg += '請選擇 Format\r\n';
        if (Setting.trim() == '') msg += '請選擇 XML/Excel Name\r\n';

        if (msg != '') {
            alert(msg);
        } else {
            $("#IndexForm").attr("action", '@Url.Action("Query")');
            $("#IndexForm").submit();
        }
    }

    function generate() {
        var CustomerName = $("#vm_CustomerName").val();
        var Format = $("#vm_Format").val();
        var Setting = $("#vm_SettingName").val();
        var Destination = $("#vm_DataDestination").val();

        var msg = '';
        if (CustomerName.trim() == '') msg += '請輸入 Customer Name\r\n';
        if (Format.trim() == '') msg += '請選擇 Format\r\n';
        if (Setting.trim() == '') msg += '請選擇 XML/Excel Name\r\n';
        if (Destination.trim() == '') msg += '請選擇 Data Destination\r\n';

        if (Destination == "FTP") {
            var FtpServer = $("#vm_FTPServerIP").val();
            var UserName = $("#vm_FTPUserName").val();
            var Password = $("#vm_FTPPassword").val();
            if (FtpServer.trim() == '') msg += '請輸入 FTP Server\r\n';
            if (UserName.trim() == '') msg += '請輸入 User Name\r\n';
            if (Password.trim() == '') msg += '請輸入 Password\r\n';
        } else if (Destination == "EMail") {
            var Mail = $("#vm_Email").val();
            if (Mail.trim() == '') msg += '請輸入 Email\r\n';
        }
        var FileName = $("#vm_FileName").val();
        if (FileName.trim() == '') msg += '請輸入 File Name\r\n';

        if (msg != '') {
            alert(msg);
        } else {
            if (Destination != "Download") {
                $('#myModal').modal({
                    backdrop: false,
                    keyboard: false,
                    show: true
                })
            }
            $("#IndexForm").attr("action", '@Url.Action("Generate")');
            $("#IndexForm").submit();
        }
    }
</script>
